<footer>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h4>HopeChannel Suomi</h4>
            <p>HopeChannel Suomi on Suomen Adventtikirkon omistama ja ylläpitämä hengellisten videoiden suoratoistopalvelu.
            </p>
            <p>Olemme osa maailmanlaajuista HopeTV-verkostoa.<p>
                    <p>Yhteistyökumppaneitamme ovat <a href="http://hopetv.org">HopeChannel Inc.</a>, <a
                            href="https://www.stimme-der-hoffnung.de/">Stimme der Hoffnung</a> ja <a
                            href="http://artvnow.com">Adventist Review Television</a>.</p>
        </div>
        {% if settings.site_settings.ContactInformationSettings %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h4>Yhteystiedot</h4>
            <p>{{ settings.site_settings.ContactInformationSettings.name }}<br>
            {{ settings.site_settings.ContactInformationSettings.address }}<br>
            {{ settings.site_settings.ContactInformationSettings.post_code }} {{ settings.site_settings.ContactInformationSettings.city|upper }}
            </p>
            {% if settings.site_settings.ContactInformationSettings.phone %}
            <p>Puhelin (vaihde) {{ settings.site_settings.ContactInformationSettings.phone }}.</p>
            {% endif %}
        </div>
        {% endif %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h4>Evästeistä</h4>
            <p>Käytämme Vimeon suoratoistopalvelua videoiden teknisen esittämisen mahdollistamiseksi. Katselemalla sivuston
                videoita hyväksyt Vimeon evästeiden käytön. Lisää evästeistä voit lukea <a
                    href="https://vimeo.com/cookie_policy">täältä</a>.</p>
            <p>Sivustomme ei käytä mainosevästeitä, eikä talleta henkilötietoja.</p>
            <p>Videoiden katselu on ilmaista ja sitoumuksetonta.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br><br>Tekijänoikeudet &copy; 2019 Suomen Adventtikirkko / HopeChannel Suomi. Kaikki oikeudet pidätetään.
            Ohjelmien, tekstityksien tai niiden osien julkaiseminen ilman lupaa on kielletty.
        </div>
    </div>
</footer>        