{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <main>
		<a href="/" class="back">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
				<path
					d="M9.707 13.707l5-5a.999.999 0 0 0 0-1.414l-5-5a.999.999 0 1 0-1.414 1.414L11.586 7H2a1 1 0 0 0 0 2h9.586l-3.293 3.293a.997.997 0 0 0 0 1.414.999.999 0 0 0 1.414 0z" />
				</svg>
			etusivulle
		</a>

        <section>
			<div class="row">
                {% for episode in self.episodes.all %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 photo-grid">
	                    {% include "series/episode_video.html" with number_of_episodes=self.episodes.all|length %}
                    </div>
                {% endfor %}
            </div>
        </section>

        <p>
            <a href="/" class="back">
		    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
			    	<path d="M9.707 13.707l5-5a.999.999 0 0 0 0-1.414l-5-5a.999.999 0 1 0-1.414 1.414L11.586 7H2a1 1 0 0 0 0 2h9.586l-3.293 3.293a.997.997 0 0 0 0 1.414.999.999 0 0 0 1.414 0z" />
				</svg>
			    etusivulle
		    </a>
        </p>

        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}

    </main>
{% endblock %}
